<!-- Footer -->
<footer id="channels" class="bg-primary text-dark py-2">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 text-right">
                <h6 class="text-uppercase">Our channels</h6>
                <ul class="nav float-right">
                    <li><a class="text-dark mr" href="{{ site.social.line }}" title="Line"><i
                                class="h1 fab fa-fw fa-line fa-3x"></i></a></li>
                    <li><a class="text-dark mr" href="{{ site.social.instagram }}" title="Instagram"><i
                                class="h1 fab fa-fw fa-instagram fa-3x"></i></a></li>
                    <li><a class="text-dark mr" href="{{ site.social.facebook }}" title="Facebook"><i
                                class="h1 fab fa-fw fa-facebook fa-3x"></i></a></li>
                    <li><a class="text-dark mr" href="{{ site.social.email }}" title="Email"><i
                                class="h1 far fa-fw fa-envelope fa-3x"></i></a></li>
                </ul>
            </div>
            <!-- <div class="col-6">
                <h6 class="text-uppercase">Find Us</h6>
                ดอนเมือง กรุงเทพมหานคร
            </div> -->
        </div>
        <!-- /row -->
    </div>
</footer>