<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white" id="navbar1">
    <div class="container">
        <a class="navbar-brand mr-1 mb-1 mt-0" href="{{ site.base_url }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#orders">Orders</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.base_url }}/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.base_url }}/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.base_url }}/payment">Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.base_url }}/status">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.base_url }}/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>